[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "imputeGeneric"]
	path = imputeGeneric
	url = https://github.com/torockel/imputegeneric
[submodule "missMethods"]
	path = missMethods
	url = https://github.com/torockel/missmethods
